.createworkorders
{
    height: 25px;
    width: 100px;  
}

.hiddenform
{
    font-size: 10px; 
    height: 25px; 
    width: 10px;
}

.loanamount
{
    height: 25px;
    width: 40px; 
}

.panel-content-center 
{
    margin: 0 auto;
    width: 250px;
}

.workorders
{
    font-size: 10px;
    height: 25px;
    width: 250px;
}