@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* Front face */
/* ---------- */

/* Each box features f.e: money, battery box */

.all-device-box .box{
    background: #FFF;
    border-radius: 10px; 
    padding: 40px 10px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

/* Each box hover */

.all-device-box .box:hover{
   box-shadow: 0 0 20px #4183D7;
   transform-style: preserve-3d;
   transition: all ease 1s;
}

/* Each box comment text f.e: adet cihazın 2 aydır ödenmemiş borcu bulunmaktadır*/

.all-device-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
    height: 80px;
}

/* Back face */
/* ---------- */

.device-info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
    z-index: 999;
    top:0;
    left:0;
}

.device-info-container .fa{
     color:#4183D7;
     cursor: pointer; 
     padding-bottom: 15px; 
     padding: 10px; 
     height: 40px;
}

tr:hover 
{    
    box-shadow: 0 0 20px #4183D7;
    transform-style: preserve-3d;
    transition: all ease 1s;
}

.device-info-container .a 
{
    min-width: 40px;
    padding: 10px;
}

.table-responsive 
{
    height: 100%; 
    width: 100%;
}

.row
{
    background-color: white; 
    margin-top: 30px;
}

.money-box h3 
{
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.battery-box h3
{
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.key-box h3 
{
    font-family: 'Poppins', sans-serif;
    font-size: 40px; 
}

.fire-box h3
{
    padding-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px; 
}